/*
 * Images with Advanced CSS sample (Images.html).
 *
 * We use flexbox for gallery display using CSS3.
 * Source:  https://css-tricks.com/snippets/css/a-guide-to-flexbox
 * Practice:  http://flexboxfroggy.com/
 *
 */

h1  {
  color:red;
  font-family:"times new roman";
  font-size:3em;
  border-bottom:2px solid pink;
  border-right:2px solid pink;
  width:400px;
  text-align:center;
}

.container  {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
}

.container img  {
  width:300px;
  height:150px;
  margin:10px;
}